---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); // ?��?��고딕 코딩

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap%27');//coming soon
@import url('https://cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css'); //?��로운 바탕�?

@font-face { // ?��?��?��리체
  font-family: 'EarlyFontDiary';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*html {
  font-size: 16px; // originally 16px //? ?��?��..
  @include breakpoint($medium) {
    font-size: 16px; // originally 18px // ?�??�� ?��
  }

  @include breakpoint($large) {
    font-size: 18x; // originally 20px // �??��?��?��..
  }

  @include breakpoint($x-large) {
    font-size: 20px; // originally 22px // ?���? �??��
  }
}*/